# Constructo Wheater

### A ideia é fazer tirar uma média por mês de dias que chovem suficientemente para atraphalhar o andamento da obra, para então prever isso no cronograma.

### Dados do INMET estação metereológica de Sorocaba-SP - Série Histórica, diária de 01/01/2000 - 17/11/2018

Acho que talvez seja interessante criar as classes: Chovendinho (atrapalha alguns serviços), chovendo (atrapalha alvenaria), chovendão ( obra alagada), Calamidade de chuva, OMG

In [1]:
#imports
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [18]:
df = pd.read_csv('data/raw 2 c.csv', sep=';')

In [19]:
df.head()

,Estacao,Data,Hora,Precipitacao,TempMaxima,TempMinima,Insolacao,Evaporacao Piche,Temp Comp Media,Umidade Relativa Media,Velocidade do Vento Media
0,83851,01/02/1998,0,NaN,33.5,NaN,6.1,3.0,26.84,84.50,NaN
1,83851,01/02/1998,1200,0.0,NaN,23.5,NaN,NaN,NaN,NaN,NaN
2,83851,02/02/1998,0,NaN,34.1,NaN,7.6,3.9,27.10,73.25,NaN
3,83851,02/02/1998,1200,0.7,NaN,22.0,NaN,NaN,NaN,NaN,NaN
4,83851,03/02/1998,0,NaN,33.5,NaN,6.2,3.4,25.66,70.75,NaN

In [22]:
df.describe()

,Estacao,Hora,Precipitacao,TempMaxima,TempMinima,Insolacao,Evaporacao Piche,Temp Comp Media,Umidade Relativa Media
count,13097.0,13097.000000,6559.000000,6516.000000,6499.000000,6516.000000,6440.000000,6504.000000,6503.000000
mean,83851.0,601.603421,3.686416,27.778622,16.687475,6.053161,3.507733,21.204299,74.689374
std,0.0,600.020765,10.510229,4.017201,3.517677,3.380624,1.624978,3.359422,9.683246
min,83851.0,0.000000,0.000000,10.700000,3.200000,0.000000,0.000000,9.100000,38.750000
25%,83851.0,0.000000,0.000000,25.200000,14.200000,3.275000,2.400000,18.840000,69.000000
50%,83851.0,1200.000000,0.000000,28.100000,17.000000,7.000000,3.400000,21.490000,74.750000
75%,83851.0,1200.000000,1.000000,30.800000,19.700000,8.800000,4.400000,23.780000,81.000000
max,83851.0,1200.000000,164.400000,37.800000,25.100000,12.400000,13.900000,29.740000,99.000000

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13097 entries, 0 to 13096
Data columns (total 11 columns):
Estacao                      13097 non-null int64
Data                         13097 non-null object
Hora                         13097 non-null int64
Precipitacao                 6559 non-null float64
TempMaxima                   6516 non-null float64
TempMinima                   6499 non-null float64
Insolacao                    6516 non-null float64
Evaporacao Piche             6440 non-null float64
Temp Comp Media              6504 non-null float64
Umidade Relativa Media       6503 non-null float64
Velocidade do Vento Media    5830 non-null object
dtypes: float64(7), int64(2), object(2)
memory usage: 1.1+ MB

In [26]:
df['DataConvertida'] = pd.to_datetime(df['Data'], format='%d/%m/%Y')

In [27]:
df.head()

,Estacao,Data,Hora,Precipitacao,TempMaxima,TempMinima,Insolacao,Evaporacao Piche,Temp Comp Media,Umidade Relativa Media,Velocidade do Vento Media,DataConvertida
0,83851,01/02/1998,0,NaN,33.5,NaN,6.1,3.0,26.84,84.50,NaN,1998-02-01
1,83851,01/02/1998,1200,0.0,NaN,23.5,NaN,NaN,NaN,NaN,NaN,1998-02-01
2,83851,02/02/1998,0,NaN,34.1,NaN,7.6,3.9,27.10,73.25,NaN,1998-02-02
3,83851,02/02/1998,1200,0.7,NaN,22.0,NaN,NaN,NaN,NaN,NaN,1998-02-02
4,83851,03/02/1998,0,NaN,33.5,NaN,6.2,3.4,25.66,70.75,NaN,1998-02-03

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13097 entries, 0 to 13096
Data columns (total 12 columns):
Estacao                      13097 non-null int64
Data                         13097 non-null object
Hora                         13097 non-null int64
Precipitacao                 6559 non-null float64
TempMaxima                   6516 non-null float64
TempMinima                   6499 non-null float64
Insolacao                    6516 non-null float64
Evaporacao Piche             6440 non-null float64
Temp Comp Media              6504 non-null float64
Umidade Relativa Media       6503 non-null float64
Velocidade do Vento Media    5830 non-null object
DataConvertida               13097 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(7), int64(2), object(2)
memory usage: 1.2+ MB

In [30]:
#--Corrigindo TempMinima e Precipitacao
#Splita rows por hora em 2 dataframes
dfTemp12 = df[df.Hora == 1200]
dfTemp00 = df[df.Hora == 0]

#Imprime dimensoes de ambos subsets e do dataset completo
print("dfTemp00.shape: "+str(dfTemp00.shape)+
      "\ndfTemp12.shape: "+str(dfTemp12.shape)+
      "\ndf.shape: "+str(df.shape)
     )

dfTemp00.shape: (6531, 12)
dfTemp12.shape: (6566, 12)
df.shape: (13097, 12)

In [31]:
#Define chaves para join
dfTemp00['chave'] = dfTemp00["Estacao"].map(str) + dfTemp00["Data"].map(str)
dfTemp12['chave'] = dfTemp12["Estacao"].map(str) + dfTemp12["Data"].map(str)

#Evidencia variaveis TemMinima e Precipitacao deletando demais colunas
dfTemp12.drop(dfTemp12.columns[[0,1,2,4,6,7,8,9,10]], axis=1, inplace=True)
dfTemp12.head()

D:\anaconda\envs\tera-jul2018\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\anaconda\envs\tera-jul2018\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
D:\anaconda\envs\tera-jul2018\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   Precipitacao  TempMinima DataConvertida            chave
1           0.0        23.5     1998-02-01  8385101/02/1998
3           0.7        22.0     1998-02-02  8385102/02/1998
5           0.0        22.0     1998-02-03  8385103/02/1998
7           0.0        20.5     1998-02-04  8385104/02/1998
9           0.0        21.0     1998-02-05  8385105/02/1998

In [32]:
#Faz o join
df_j = dfTemp00.set_index('chave').join(dfTemp12.set_index('chave'), lsuffix='_00', rsuffix='_12')
# dfEstCamposJoined["TempMinima_00"].mean()
df_j["TempMinima_12"].mean()

16.687474996153252

In [33]:
df_j.head()

,Estacao,Data,Hora,Precipitacao_00,TempMaxima,TempMinima_00,Insolacao,Evaporacao Piche,Temp Comp Media,Umidade Relativa Media,Velocidade do Vento Media,DataConvertida_00,Precipitacao_12,TempMinima_12,DataConvertida_12
chave,,,,,,,,,,,,,,,
8385101/02/1998,83851,01/02/1998,0,NaN,33.5,NaN,6.1,3.0,26.84,84.50,NaN,1998-02-01,0.0,23.5,1998-02-01
8385102/02/1998,83851,02/02/1998,0,NaN,34.1,NaN,7.6,3.9,27.10,73.25,NaN,1998-02-02,0.7,22.0,1998-02-02
8385103/02/1998,83851,03/02/1998,0,NaN,33.5,NaN,6.2,3.4,25.66,70.75,NaN,1998-02-03,0.0,22.0,1998-02-03
8385104/02/1998,83851,04/02/1998,0,NaN,34.1,NaN,6.1,3.9,26.16,70.25,NaN,1998-02-04,0.0,20.5,1998-02-04
8385105/02/1998,83851,05/02/1998,0,NaN,34.5,NaN,8.6,3.7,25.62,76.75,NaN,1998-02-05,0.0,21.0,1998-02-05

In [34]:
#Cria novas variaveis TempMinima e Precipitacao
df_j["TempMinima"] = df_j["TempMinima_12"]
df_j["Precipitacao"] = df_j["Precipitacao_12"]

#Remove colunas temporarias para o join
df_j.drop('TempMinima_00', axis=1, inplace=True)
df_j.drop('TempMinima_12', axis=1, inplace=True)
df_j.drop('Precipitacao_00', axis=1, inplace=True)
df_j.drop('Precipitacao_12', axis=1, inplace=True)

#Reseta o index
df_j = df_j.reset_index(drop=True)

#Renomeia dataframe corrigido
df_j = df_j
df_j.head()
# dfEstCamposCorrigido.tail()

,Estacao,Data,Hora,TempMaxima,Insolacao,Evaporacao Piche,Temp Comp Media,Umidade Relativa Media,Velocidade do Vento Media,DataConvertida_00,DataConvertida_12,TempMinima,Precipitacao
0,83851,01/02/1998,0,33.5,6.1,3.0,26.84,84.50,NaN,1998-02-01,1998-02-01,23.5,0.0
1,83851,02/02/1998,0,34.1,7.6,3.9,27.10,73.25,NaN,1998-02-02,1998-02-02,22.0,0.7
2,83851,03/02/1998,0,33.5,6.2,3.4,25.66,70.75,NaN,1998-02-03,1998-02-03,22.0,0.0
3,83851,04/02/1998,0,34.1,6.1,3.9,26.16,70.25,NaN,1998-02-04,1998-02-04,20.5,0.0
4,83851,05/02/1998,0,34.5,8.6,3.7,25.62,76.75,NaN,1998-02-05,1998-02-05,21.0,0.0

In [35]:
df_j.isnull().sum()

Estacao                        0
Data                           0
Hora                           0
TempMaxima                    15
Insolacao                     15
Evaporacao Piche              91
Temp Comp Media               27
Umidade Relativa Media        28
Velocidade do Vento Media    701
DataConvertida_00              0
DataConvertida_12              1
TempMinima                    32
Precipitacao                   8
dtype: int64